@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Cossette+Titre:wght@400;700&family=Manrope:wght@200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@layer base {
  * {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    font-weight: 500;
  }
  h3 {
    font-weight: 700;
  }
}

@layer utilities {
  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(16px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fade-up {
    animation: fade-up 0.8s ease-out forwards;
  }
}

@theme{
  --color-primary: #D8CFC4;
  --color-secondary: #CBBBA0;
  --color-about-text: #4D8CEA;
}
